*.csv
*.dat
*.iml
*.log
*.err
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.local.json
.DS_Store
.idea
.project
.tmp/*
.strong-pm
coverage
node_modules
mochawesome-reports
dist
npm-debug.log
